In [1]:
import pandas as pd
import numpy as np

/var/folders/sz/96b_h5gn3y33k0c7jsvrstmm0000gn/T/ipykernel_10900/2162656668.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
pd.read_csv("attachment(1)_alltictactoe.csv", header = None)

        0  1  2  3  4  5  6  7  8
0       1  2  3  4  5  6  7  8  9
1       1  2  3  4  5  6  7  9  8
2       1  2  3  4  5  6  8  7  9
3       1  2  3  4  5  6  9  7  8
4       1  2  3  4  5  6  8  9  7
...    .. .. .. .. .. .. .. .. ..
362875  7  9  8  6  5  4  3  2  1
362876  8  7  9  6  5  4  3  2  1
362877  9  7  8  6  5  4  3  2  1
362878  8  9  7  6  5  4  3  2  1
362879  9  8  7  6  5  4  3  2  1

[362880 rows x 9 columns]

In [3]:
def TRUE_tic_tac_toe():
    """
    remove all the repated games which have wins and bla bla bla
    """
    def is_there_a_win(ttt):
        # convert 1D array into 2D array (3 by 3)
        TTT = ttt.reshape(3,3)

        # lines to verify for wins (lines, columns, diagonals)
        lines = np.vstack([TTT, np.transpose(TTT), np.diag(TTT), np.diag(np.fliplr(TTT))])
        
        # check sums to see if there is a winner
        X_vs_O = np.where(lines % 2 == 1, 1, -1)
        sums = np.sum(X_vs_O, axis=1)

        # someone won
        if 3 in np.abs(sums):
            # find the winning move
            last_move = np.max(lines, axis=1)
            last_move[np.abs(sums) != 3] = 10
            return True, min(last_move) #min do last move dos q sao vitorias dahhhh   

        # draw game
        else:
            return False, 0
        

    DF_allgames = pd.read_csv("attachment(1)_alltictactoe.csv", header = None)

    new_games = []
    for index, row in DF_allgames.iterrows():
        ttt = np.array(row).astype(float)
        win = is_there_a_win(ttt)
        if win[0]:
            ttt[ttt > win[1]] = np.nan
            new_games.append(ttt)
        else:
            new_games.append(ttt)

    processed_df = pd.DataFrame(new_games)
    unique_dataframe = processed_df.drop_duplicates()
    print(unique_dataframe)

    #remove duplicated games

In [4]:
TRUE_tic_tac_toe()

          0    1    2    3    4    5    6    7    8
0       1.0  2.0  3.0  4.0  5.0  6.0  7.0  NaN  NaN
2       1.0  2.0  3.0  4.0  5.0  6.0  8.0  7.0  9.0
3       1.0  2.0  3.0  4.0  5.0  6.0  9.0  7.0  8.0
4       1.0  2.0  3.0  4.0  5.0  6.0  NaN  NaN  7.0
6       1.0  2.0  3.0  4.0  5.0  7.0  6.0  8.0  9.0
...     ...  ...  ...  ...  ...  ...  ...  ...  ...
362873  9.0  8.0  6.0  7.0  5.0  4.0  3.0  2.0  1.0
362874  7.0  NaN  NaN  6.0  5.0  4.0  3.0  2.0  1.0
362876  8.0  7.0  9.0  6.0  5.0  4.0  3.0  2.0  1.0
362877  9.0  7.0  8.0  6.0  5.0  4.0  3.0  2.0  1.0
362878  NaN  NaN  7.0  6.0  5.0  4.0  3.0  2.0  1.0

[255168 rows x 9 columns]